@charset "UTF-8";
/* CSS Document */

body {
	background-color:#F0F0F0;
	}

.DerKonzernbetriebsrat {
	font-family: 'Roboto', sans-serif;
	color: grey;
	font-size: 45px;
	float: right; margin-right: 210px;
	text-shadow: grey 0.05em 0.01em 0.1em;
	
	
}
.TeamPlatzhalter {
	float: left;
	height: 400px;
	margin-top: 140px;
	margin-left: 30px
}


 ul.NavBar {
  list-style-type: none;
  background-color: #F0F0F0;
  float: right; margin-right: 200px; margin-top: 70px;
  
  overflow: auto;
}

li a {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  display: block;
  color: gray;
  padding: 8px 16px;
  text-decoration: none;
}

/* hover-effekt beim drüberfahren */
li a:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}





footer {
	position: fixed;
	bottom: 0;
	left:  80px;
	display: block;
	margin-bottom: 20px;
}


footer.datenschutz {
	float: right;
	
}

footer.impressum {
	float: right;
}



