@charset "UTF-8";
/* CSS Document */

body {
	background-color:#F0F0F0;
	}

.DerKonzernbetriebsrat {
	font-family: 'Roboto', sans-serif;
	color: grey;
	font-size: 45px;
	float: right; margin-right: 65px;
	text-shadow: grey 0.05em 0.01em 0.1em;
	
}
.TeamPlatzhalter {
	height: 500px;
	margin-top: 140px;
	margin-left: 70px
}
