@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("GreenWhiteBackground.jpg");
	background-size: cover;	

}


.NehlsenLogo {
	position: fixed;
}


.DerKonzernbetriebsrat {
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: grey;
	font-size: 45px;
	float: right; margin-right: 210px;
	text-shadow: grey 0.05em 0.01em 0.1em;
	
	
}
.TeamPlatzhalter {
	position: relative;
	float: left;
	height: 400px;
	margin-top: 140px;
	margin-left: 30px;
}


 ul.NavBar {
	 position: relative;
  list-style-type: none;
  float: right; margin-right: 200px; margin-top: 70px;
  overflow: auto;
}

li a {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  display: block;
  color: gray;
  padding: 8px 16px;
  text-decoration: none;
}

/* hover-effekt beim drüberfahren */
li a:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}





footer {
	position:fixed;
	bottom: 20px;
	left:  80px;
	display: block;
	margin-bottom: 20px;
}



/*Die Laufleiste*/

.marquee {
	position: fixed;
	font-family: 'Roboto', sans-serif;
	
		max-width: 100vw; /* iOS braucht das */
		white-space: nowrap;
		overflow: hidden;
		/* hier evtl. noch font-size, color usw. */
	}

	 .marquee span {
		display: inline-block;
		padding-left: 105%; /* die zusätzlichen 5% erzeugen einen verzögerten Start und vermeiden so ein Ruckeln auf langsamen Seiten */
		animation: marquee 10s linear infinite;
	}

	/* Optional: mouseover (oder Tipp auf dem Touchscreen) pausiert die Laufschrift */
	 .marquee span:hover {
		animation-play-state: paused 
	}

	/* Make it move */
	@keyframes marquee {
		0%   { transform: translateX(0); }
		100% { transform: translateX(-100%); }
	}
	
	





























